.background-lotus {
  background: url('../resources/lotus.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.background-buddha{
	background: url('../resources/buddha.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.background-lotus-black {
  background: url('../resources/lotus-black.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.water-lotus {
  background: url('../resources/lotus-water.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #000000
}

.main-menu{
  background-color: #000000;
}

.nav-link {
  color: #b7b7b7;
  text-decoration: none;
}

.buffer{
  margin-top: 100px;
}
